@import "variables.scss";

html, body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  color: $darkColor;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (max-width:479px) {
  body {
    font-size: 11px;
  }
}

.placeholder {
  display: flex;
  padding: 32px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: lighten($primaryColor,45%);
  color: $darkColor;
  font-weight: 100;
  font-size: 1.3em;
}

a:link, a:visited {
  color: $tintColor;
  text-decoration: none;
  transition: color $animDuration $animEasing;
  &:hover {
    color: lighten($tintColor, 15%);
  }
}

main {
  display: flex;
  width: 100%;
  height: 100%;
  overflow:hidden;

  #sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
    background: $primaryColor;
    width: 0;
    overflow: hidden;
    transition: width $animDuration $animEasing;
    &.open { width: $sideBarWidth; }

    .simplebar-content { overflow-x: hidden !important;}
    .sidebar-dropdown-list {
      width: $sideBarWidth;
      padding-bottom: 100px;
      &>.dropdown-list-item {
        a.dropdown-list-item-title {
          display: flex;
          align-items: center;
          padding: 16px;
          color: $lightColor;
          text-decoration: none;
          background: $primaryColor;
          font-size: 1.2em;
          font-weight: 300;

          .material-icons {
            font-size: 18px;
            padding-right: 8px;
          }
        }

        &>.sidebar-sublist {
          display: none;
          &>.dropdown-sublist-item {
            a {
              display: flex;
              align-items: center;
              padding: 8px 16px;
              padding-left: 32px;
              color: $lightColor;
              background: $darkColor;
              text-decoration: none;
              font-weight: 500;
              transition: background $animDuration $animEasing;
              &:hover {
                background: transparentize($darkColor, 0.2);
                .material-icons { opacity: 1; }
              }
              .material-icons {
                font-size: 18px;
                margin-left: auto;
                opacity: 0;
                transition: opacity $animDuration $animEasing;
              }

            }
          }
        }
      }
    }
  }

  .wrapper {
    width: 0px;
    height: 100%;
    position: relative;
    overflow-y: auto;
    transition: width $animDuration $animEasing, padding $animDuration $animEasing;
    flex: 1;
    background: $lightColor;
    overflow-x: hidden;

    &.bg-banner {
      background: $primaryColor;
      background: linear-gradient(45deg, $primaryColor, $tintColor)
    }

    div.banner {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: calc(100% - 71px);
      .banner-center {
        display: flex;
        margin: auto;
        flex-direction: column;
        align-items: center;

        .icon {
          font-weight: 700;
          font-size: 7em;
          color: $lightColor;
          position: relative;
          &::after {
            display: block;
            content: "";
            position: absolute;
            top: 100%;
            background: $lightColor;
            width: 60%;
            height: 10px;
          }
        }
        .version {
          font-weight: 100;
          font-size: 3em;
          color: $lightColor;
        }
        .description {
          text-align: center;
          font-weight: 500;
          font-size: 1.5em;
          color: $lightColor;
          margin-top: 32px;
        }
        .action-links {
          margin-top: 48px;
          display: flex;
          width: 60%;
          justify-content: space-around;
          .action-link {
            display: block;
            font-weight: 400;
            font-size: 1.2em;
            padding: 16px;
            color: $lightColor;
            text-transform: uppercase;
            border: 1px solid $lightColor;
            transition: all $animDuration $animEasing;
            &:hover {
              background: $lightColor;
              color: $tintColor;
            }
          }
        }
      }
    }

    div.getting-started {
      display: flex;
      flex-direction: column;
      width: 100%;
      background: $lightColor;
      .page-title {
        color: $primaryColor;
        display: flex;
        align-items: center;
        padding: 16px;
        font-weight: 300;
        font-size: 2.3em;
        .material-icons { margin-right: 8px;}
      }
      .content {
        .sub-title {
          padding: 12px 16px;
          font-weight: 600;
          text-transform: lowercase;
          color: $tintColor;
          border-bottom: 3px solid $tintColor;
          font-size: 1.6em;
        }
        .sub-content {
          padding: 16px 32px;
          p {
            padding: 16px 0px;
          }

          .section-code {
            background: $darkColor;
            padding: 16px 32px;
          }
          pre.jsds-code {
            background: lighten($primaryColor,45%);
            padding: 32px 16px;
            font-size: 1.2em;
            font-family: courier;
            width: 100%;
            overflow-x: auto;
          }
        }
      }
    }

    #navbar {
      display: flex;
      align-items: center;
      width: 100%;
      background: $lightColor;
      box-shadow: 0px 0px 0px rgba(0,0,0,0.33);
      transition: all $animDuration $animEasing;
      top: -100%;
      z-index: 5000;

      &.locked {
        &.compressed { width: calc(100% - #{$sideBarWidth})}
        position: fixed;
        top: 0;
        //left: 0;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.33);
      }

      &.flow {
        background: transparent;
        .navbar-brand {
          color: $lightColor;
          &::after { background: transparent};
        }
        &.locked {
          background: $lightColor;
          .navbar-brand {
            color: $darkColor;
            &::after { background: $primaryColor};
          }
          .nav-links .nav-link a {
            &:hover, &.active{color: $primaryColor;}
            &::after{background: $primaryColor;}
          }
        }
        .nav-links .nav-link a {
          &:hover, &.active{color: $lightColor;}
          &::after{background: $lightColor;}
        }

      }

      .nav-links {
        display: flex;
        align-items: center;
        margin-left: auto;
        list-style-type: none;
        li.nav-link {
          a {
            display: block;
            position: relative;
            font-weight: 400;
            padding: 24px;
            font-size: 0.8em;
            color: $darkColor;
            &::after {
              content: "";
              display: block;
              position: absolute;
              top: 100%;
              width: 0%;
              height: 3px;
              background: $primaryColor;
              transition: width $animDuration $animEasing;
            }
            &:hover, &.active {
              color: $primaryColor;
              &::after {
                width: 60%;
              }
            }
          }
        }
      }

      .navbar-action {
        padding: 16px;
        &.left {padding-right: 8px;}
        .open-sidebar {
          background: transparent;
          border: none;
          cursor: pointer;
          transition: color $animDuration $animEasing;
          &:hover { color: $primaryColor; }
          &:focus { box-shadow: none; outline: none;}
        }
      }
      .navbar-brand {
        position: relative;
        padding: 16px;
        font-size: 2em;
        font-weight: 700;
        color: $darkColor;

        &::after {
          content: '';
          position: absolute;
          display: block;
          width: 60%;
          height: 5px;
          background: $primaryColor;
          top: calc(100% - 5px);
          left: 0;
        }
      }
    }

    //Main Doc
    div.doc-main {
      min-width: 300px;
      section.doc-section {
        h3.section-title {
          display: flex;
          align-items: center;
          font-weight: 300;
          font-size: 1.7em;
          padding: 16px;
          border-bottom: 5px solid $primaryColor;
          .material-icons {
            padding-right: 8px;
            color: $primaryColor;
          }
        }

        .section-description {
          width: 100%;
          padding: 24px;
          padding-left: 48px;
          font-size: 0.9em;
          background: lighten($primaryColor,45%);
        }

        .section-inheritance, .section-implementation, .section-extended-by, .section-implemented-by {
          display: flex;
          flex-wrap: wrap;
          padding: 8px 16px;
          align-items: center;
          background: lighten($primaryColor,45%);
          font-size: 0.8em;
          .material-icons {
            font-size: 18px;
            color: $tintColor;
            margin-right: 4px;
          }
          .label {
            font-weight: 300;
          }
          a {
            margin-left: 8px;
            font-weight: 500;
            color: $darkColor;
            padding: 4px;
            transition: color $animDuration $animEasing;
            margin-right: 8px;
            &:hover { color: $tintColor;}
          }

          &.section-extended-by, &.section-implemented-by {
            .material-icons { color: $tertiaryColor; }
            a:hover{ color: $tertiaryColor; }
          }
        }

        .section-constructor, .section-methods .section-method, .section-accessors .section-accessor {
          width: 100%;
          .section-signature {
            padding: 16px 32px;
            background: lighten($primaryColor,40%);
            font-size: 1.2em;
            font-weight: 500;
          }
          .section-examples {
            .section-example {
              .min-title {
                color: $tintColor;
                font-weight: 500;
                font-style: oblique;
              }
                margin: 0;
                background: $darkColor;
                padding: 16px 32px;
            }
          }
        }

        .section-methods, .section-accessors {
          width: 100%;
          .section-subtitle {
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 1.2em;
            padding: 16px 32px;
            .material-icons {
              color: $tintColor;
              padding-right: 8px;
            }
            big {
              font-size: 1.3em;
              font-weight: 200;
            }
          }

        }
      }
    }
  }
}
