$primaryColor: #673AB7;
$secondaryColor: #fff;
$lightColor: #fff;
$darkColor:darken($primaryColor, 45%);
$tintColor:#E91E63;
$tertiaryColor:#009688;
$animDuration: 0.6s;
$animEasing: cubic-bezier(.53,.01,.56,1.14);
